<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!-- Server Date Token - $serverdate-->
      <expandInitialFieldValue>
        <processor type="Foundation.CustomTokens.Tokens.ServerDateToken, Foundation.CustomTokens" 
                   patch:after="processor[@type='Sitecore.Pipelines.ExpandInitialFieldValue.ReplaceVariables, Sitecore.Kernel']"/>
      </expandInitialFieldValue>
    </pipelines>    
  </sitecore>
</configuration>